<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <org.jenkinsci.plugins.twitter.TwitterTrigger plugin="twitter@1.0-SNAPSHOT">
      <spec>* * * * *</spec>
    </org.jenkinsci.plugins.twitter.TwitterTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.twitter.TwitterBuilder plugin="twitter@1.0-SNAPSHOT"/>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.twitter.TwitterNotifier plugin="twitter@1.0-SNAPSHOT"/>
  </publishers>
  <buildWrappers/>
</project>